.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  align-items: stretch;
  overflow: scroll;
  padding: 20px;
  gap: 20px;
}

iframe {
  border: none;
  border-radius: 5px;
}

div.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.horizontal-container {
  display: flex;
  gap: 10px;
}

/* APP COMPONENTS */
div.editor {
  height: 80%;
  min-height: 0;
}

div.editor-inputs {
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

div.music-render {
  overflow: scroll;
  min-height: 0;
  flex: 1;
}

div.player {
  gap: 10px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-shrink: 0;
}

div.video-input {
  width: 100%;
}
div.controls {
  max-width: 60%;
  align-items: stretch;
  flex: 1;
  justify-content: center;
}
